<html>

<head>
    <title>Maquina de RENFE</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <b>Hola, {{ name }} {{ apellido }}</b>
    <br />
    <b>Elija su tipo de billete</b><br />
    <br />
    <form action="/nombre/">
        <input type="submit" value="Ida"><br />
    </form>
    <br />
    <form>
        <input type="submit" value="Ida/Vuelta"><br />
    </form>
    <br />
    <form>
        <input type="submit" value="Mensual"><br />
    </form>
</body>

</html>